  <h1><% include partials/_header %></h1>
  <br>
  <form style="display: inline" method="GET" action="/urls/new">
  <button type="submit" class="btn btn-dark btn-lg">Create TinyURL</button></form>
  <br>
  <br>
  <h3><strong>TinyURL</strong></h3>
  <p><strong>Original URL: <%= longURL %></p></strong>
  <p><strong>Shortened URL: <%= shortURL %></p></strong>
  <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Edit URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-dark">Update</button>
      </div>
  </form>
</body>
</html>