<% include ./partials/_header %>

  <h3><strong>URLs to Shorten:</strong></h3>
  <ul>
    <% for(var each in urls) { %>
      <li><strong><%= each %></strong> : <%= urls[each] %></li>
    <% }; %>
  </ul>
</body>
</html>