<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <h1><% include partials/_header %></h1>
  <br>
  <h2><a href="#">Create new TinyURL</a></h2>
  <br>
  <h3><strong>URLs to Shorten:</strong></h3>
  <ul>
  <% for(var each in urls) { %>
  <li><strong><%= each %></strong> : <%= urls[each] %></li>
  <form method="POST" action="/urls/9sm5xK/delete">
  <button type="submit" class="btn btn-primary">Delete</button></form>
    <% }; %>
  </ul>
</body>
</html>